/* 登录页面的样式 */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*.login-container h2 {*/
/*    margin-bottom: 20px;*/
/*    font-size: 24px;*/
/*    color: #333;*/
/*}*/

/*.login-container label {*/
/*    display: block;*/
/*    text-align: left;*/
/*    margin-bottom: 5px;*/
/*    font-weight: bold;*/
/*    color: #333;*/
/*}*/

/*.login-container input {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin-bottom: 15px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*}*/

/*.login-container button {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    background-color: #007BFF;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*}*/

/*.login-container button:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
